{#
/**
 * Parameters:
 * - "items" (array) (default: []): format: [
 *    {
 *      "id": (string),
 *      title: (string),
 *      body: (string),
 *      content: (block),
 *    },
 *    ...
 *   ]
 * - "extra_classes" (string) (default: '')
 * - "extra_attributes" (array) (default: []): format: [
 *   {
 *       "name" (string) (default: ''),
 *       "value" (optional) (string)
 *     ...
 *   ],
 */
#}
{% apply spaceless %}

{# Internal properties #}
{% set _css_class = 'accordion' %}
{% set _extra_attributes = '' %}

{# Internal logic - Process properties #}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% if attr.value is defined %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name|e('html_attr') ~ '="' ~ attr.value|e('html_attr') ~ '"' %}
    {% else %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name|e('html_attr') %}
    {% endif %}
  {% endfor %}
{% endif %}

{# Print the result #}

<div class="{{ _css_class }}" id="{{ identifier }}" {{ _extra_attributes|raw }}>
  {% if items is not empty %}
    {% for item in items %}
      {% set id = identifier ~ '-' ~ loop.index0 %}
      <div class="accordion-item">
        <div class="accordion-header" id="flush-heading-{{ id }}">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapse-{{ id }}-content"
            aria-expanded="false"
            aria-controls="flush-collapse-{{ id }}-content">
            {% block title %}
              {{ item.title }}
            {% endblock %}
          </button>
        </div>
        <div id="flush-collapse-{{ id }}-content" class="accordion-collapse collapse" aria-labelledby="flush-heading-{{ id }}" data-bs-parent="#{{ identifier }}">
          <div class="accordion-body">
            {%- set _content = item.body|default('') %}
            {%- block content _content -%}
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>
{% endapply %}
