{#
/**
 * Parameters:
 * - "title" (string) (default: '')
 * - "subtitle" (string) (default: '')
 * - "level" (string) (default: 'h2') The heading level.
 * - "icon" (block) (default: '')
 * - "extra_classes" (string) (default: '')
 * - "extra_attributes" (array) (default: []): format: [
 *   {
 *     "name" (string) (default: ''),
 *     "value" (optional) (string)
 *    ...
 *   ]
 */
#}
{% apply spaceless %}

{# Internal properties #}

{% set _title = title|default('') %}
{% set _subtitle = subtitle|default('') %}
{% set _level = level|default('h2') %}
{% set _icon = icon|default({}) %}
{% set _css_class = 'heading'%}
{% set _extra_attributes = '' %}

{# Internal logic - Process properties #}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% if attr.value is defined %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name|e('html_attr') ~ '="' ~ attr.value|e('html_attr') ~ '"' %}
    {% else %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name|e('html_attr') %}
    {% endif %}
  {% endfor %}
{% endif %}

{# Print the result #}
{% if title is not empty %}
  <div class="{{ _css_class }}" {{ _extra_attributes|raw }}>
    {%- block icon _icon -%}
    <div class="{{ _level }}">
      {{ _title }}
    </div>
    <div class="subtitle">
      {{ _subtitle }}
    </div>
  </div>
{% endif %}

{% endapply %}
