{{ attach_library('edw_paragraphs_timeline/timeline-double-sided') }}

<div class="timeline-item">
    <div{{ attributes }}>
      <div class="container">
        <div class="row">
          <div class="col-sm left">
            <div class="float-end">
              <div class="content">
                {% if attributes.hasClass('odd') %}
                  {{ content|without(['field_media', 'field_featured', 'field_caption']) }}
                {% else %}
                  {{ content.field_media }}
                  {{ content.field_caption }}
                {% endif %}
              </div>
            </div>
          </div>
          <div class="col-sm right">
            <div class="content">
              {% if attributes.hasClass('odd') %}
                {{ content.field_media }}
                {{ content.field_caption }}
              {% else %}
                {{ content|without(['field_media', 'field_featured', 'field_caption']) }}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
