{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}

<div{{ attributes.addClass('timeline-container') }}>
  <div class="title">
    {{ content.field_title }}
  </div>
  <div id="scroll-icon">
    {#    Include icon#}
  </div>
  <div class="timeline">
    {% for year, items in timeline %}
      <div class='timeline-year' id="{{ year }}">{{ year }}</div>
      {% for item in items %}
        {{ item }}
      {% endfor %}
    {% endfor %}
  </div>
</div>
